body {
	padding: 20px 0px; height: 100px; position: relative;
}
.jumbotron {
	padding: 50px 0px; text-align: center;
}
.logo {
	margin-bottom: 20px;
}
#content {
	position: relative;
}
.info {
	padding-top: 50px; padding-bottom: 500px;
}
.affix h1 {
	font-size: 18px;
}
.info ul {
	margin-bottom: 20px;
}
.info ul li {
	font-size: 16px; margin-top: 10px;
}
.info ul li button {
	margin-top: 10px; display: block;
}
.media-body .lead {
	margin-right: 20px; margin-left: 20px;
}
span.glyphicon {
	cursor: pointer;
}
h2.smaller {
	font-size: 18px;
}
.alert {
	display: inline-block;
}
.alert .lead {
	font-size: 30px;
}
.media > .pull-left {
	margin-right: 20px;
}
